<ul class="list-group list-group-flush">
    <li class="list-group-item">
        {{ instance.data.commit_count }}
        <span class="label">Commits in last 30 days</span>
    </li>
    <li class="list-group-item">
        {{ instance.data.forks_count }}
        <span class="label">Forks</span>
    </li>
    <li class="list-group-item">
        {{ instance.data.issues_count }}
        <span class="label">Closed issues in last 30 days</span>
    </li>
    <li class="list-group-item">
        {{ instance.data.stars_count }}
        <span class="label">Stars</span>
    </li>
</ul>
